@speed: 4s;

html { background: #8D946A; }
pattern path { stroke: #8D946A; }
.snake-group { stroke: #292A18; }

.snake { animation: stroke-anim @speed linear infinite; }
@keyframes stroke-anim {
  to { stroke-dashoffset: 0; }
}

/* Values generated from JS */
.snake {
  stroke-dasharray: 32 224;
  stroke-dashoffset: 256;
  animation-timing-function: steps(32);
}


/* ////////////////////////////////////////////////////////////////////////// */

.dot { animation: dot1 @speed steps(1) infinite; }
@keyframes dot1 { 
  0%, 26%, 91.1% { opacity: 1; }
  26.1%, 91% { opacity: 0; }
}

.dot-2 { animation-name: dot2; }
@keyframes dot2 { 
  0%, 26%, 51%, 100% { opacity: 0; }
  26.1%, 50% { opacity: 1; }
}

.dot-3 { animation-name: dot3; }
@keyframes dot3 { 
  0%, 50%, 92%, 100% { opacity: 0; }
  50.1%, 92% { opacity: 1; }
}



svg {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  max-width: 144px;
  max-height: 90vh;
}
