input::placeholder {
    color: rgba(0,123,128,.7);
    font-weight: 300;
}

h2 {
    font: 500 18px/30px "Roboto";
    color: #000000;
    padding: 10px 20px 20px 0;
}

div.contacts {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 10px 30px;
}



.field div.phone {
    position: relative;
    padding: 10px 0 20px 40px;
    font: 500 16px/45px "Roboto";
    color: #000000;
}

.field div.phone input {
    font: 500 16px/45px "Roboto";
    padding: 0 10px;
    height: 45px;
    border: 1px solid #67cacf;
    margin-left: 5px;
    width: 110px;
    background: #ffffff;
}
.field.email div.phone input {
    width: 220px;
}
.field div.phone input:focus {
    border-color: #007b80;
}

div.acc.disabled {
    position: relative;
}

div.acc.disabled::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(255,255,255,.5);
    z-index: 100;
}

div.items {
    padding: 20px 30px;
}

div.items li {
    padding: 15px 0;
}

div.items li .checkbox {
    line-height: 20px;
    padding-top: 5px;
}

a.save {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
    background: #27b4ba;    
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
    font-weight: 500;
}

a.save:not(.done):not(.disabled):hover {
    background: #007b80;
}

a.save.done {
    background-color: #ffffff;
    color: rgba(0,0,0,0);
    position: relative;
    cursor: default;
}

a.save.done::before {
    content: "Сохранено";
    color: #000000;
    display: block;
}
a.save.done::after {
    position: absolute;
    width: 10px;
    height: 20px;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    content:"";
    left: 80px;
    top: 4px;
    transform: rotate(45deg);
}

a.save.disabled {
    opacity: .5;
    cursor: default;
}