.profile-form {
    padding: 0 0 0 80px;
}

.profile-form .field p {
    font: normal 16px/20px "Roboto";
    color: #000000;
    padding: 20px 0 10px 0;
}

.profile-form .field input {
    font: 500 16px/45px "Roboto";
    height: 45px;
    padding: 0 10px;
    border: 1px solid #27b4ba;
}

input:focus {
    border-color: #007b80;
}

.profile-form .field input.phone {
    width: 90px;
}
.profile-form .field input.email {
    width: 320px;
}

.profile-form .field.phone em {
    position: absolute;
    margin-left: -22px;
    font: 500 16px/45px "Roboto";
    color: #000000;
    margin-top: 1px;
}

.profile-form .buttons {
    padding-top: 40px;
}

.profile-form .buttons a {
    display: inline-block;
    padding: 0 10px;
    font: 500 16px/45px "Roboto";
    text-decoration: none;
    margin-bottom: 40px;
}

.profile-form .buttons a.change-pass {
    color: #007b80;
    background: #bee8ea;
}

.profile-form .buttons a:not(.done):hover {
    background: #007b80 !important;
    color: #ffffff !important;
}

.profile-form .buttons a.save {
    width: 320px;
    background: #27b4ba;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

a.save:not(.done):not(.disabled):hover {
    background: #007b80;
}

a.save.done {
    background-color: #ffffff !important;
    color: rgba(0,0,0,0);
    position: relative;
    cursor: default;
}

a.save.done::before {
    position: absolute;
    width: 100%;
    text-align: center;
    content: "Сохранено";
    color: #000000;
    display: block;
}
a.save.done::after {
    position: absolute;
    width: 10px;
    height: 20px;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    content:"";
    left: 100px;
    top: 4px;
    transform: rotate(45deg);
}

a.save.disabled {
    opacity: .5;
    cursor: default;
}


.new-pass-form {
    padding: 40px 0 120px 80px;
}

.new-pass-form .field {
    font: normal 16px/30px "Roboto";
    color: #000000;
    padding-bottom: 20px;
}
.new-pass-form .field input {
    font: 500 16px/45px "Roboto";
    height: 45px;
    padding: 0 10px;
    border: 1px solid #27b4ba;
    width: calc(100% - 30px);
}

.new-pass-form .buttons {
    text-align: center;
    padding-bottom: 100px;
}

.new-pass-form .buttons a.save-pass {
    display: block;
    background: #27b4ba;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
    font-weight: 500;
    width: calc(100% - 10px);
    margin-top: 20px;
}

.new-pass-form .buttons a.save-pass:not(.disabled):hover {
    background: #007b80;
}


.new-pass-form .buttons a.save-pass.disabled {
    cursor: default;
    opacity: .5;
}

.new-pass-form .buttons a.cancel {
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;  
    font-weight: 500;
    font-size: 16px;
    color: #007b80;
}

.new-pass-form .buttons a.cancel:hover {
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .profile-form {
        padding-left: 40px;
    }
    .profile-form .field input.email { 
        width: 300px;
    }
    .profile-form .buttons a.save {
        width: 300px;
    }

    .new-pass-form {
        padding: 70px 20px 100px 20px;
    }
}
