.req { 
    margin: 30px 10px 100px 10px;
    color: #000000;
    font: normal 16px/20px "Roboto";
}

.req li {
    white-space: nowrap;
    padding: 12px 0;
}

.req span {
    display: inline-block;
    vertical-align: top;
    color: rgba(0,0,0,.7);
    width: 120px;
    padding-right: 20px;    
    white-space: normal;
}

.req em {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    max-width: calc(100% - 150px);
    white-space: normal;
}

div.add {
    text-align: center;
    margin: 0 0 20px 0;
    font: 500 16px/30px "Roboto";
    padding-right: 50px;
}

div.add a  {
    text-decoration: none;
    color: #007b80;
}

div.add a:hover {
    text-decoration: underline;
}

.org-add-form {
    position: relative;
    margin: 30px 40px;
}

.org-add-form input {
    padding: 0 10px;
    border: 1px solid #27b4ba;
    background: #ffffff;
    font: 500 16px/45px "Roboto", sans-serif;
    color: #007b80;
    margin-bottom: 30px;
}
.org-add-form input:focus {
    border-color: #007b80;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}

.org-add-form input::placeholder {
    color: #27b4ba;
}

.org-add-form input.name { width: 360px; }
.org-add-form input.address { width: 360px; }
.org-add-form input.inn { width: 150px; }
.org-add-form input.kpp { margin-left: 37px; width: 150px; }


.order-window p {
    font: normal 16px/20px "Roboto";
    color: rgba(0,0,0,.7);
    padding: 0 0 30px 40px;
    margin-top: -20px;
}

.buttons {
    width: 380px;
    position: relative; 
    padding: 0 0 100px 40px;
    text-align: center;
}

.buttons .done {
    display: block;
    background: #27b4ba;
    color: #ffffff;
    font: 500 18px/45px "Roboto";
    text-align: center;
    text-decoration: none;
    margin-bottom: 40px;
}

.buttons .done:not(.disabled):hover { background: #007b80; }

.buttons .done.disabled {
    opacity: .5;
    cursor: default;
}

.buttons .cancel {
    font: 500 16px/45px "Roboto";
    color: #007b80;
    text-decoration: none;
}
.buttons .cancel:hover {
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .org-add-form {
        padding: 50px 0 20px 0;
        margin: 20px;
    }

    .org-add-form input.name { width: 340px; }
    .org-add-form input.address { width: 340px; }
    .org-add-form input.inn { width: 140px; }
    .org-add-form input.kpp { margin-left: 35px; width: 140px; }

    .buttons {
        text-align: center;
        padding-left: 20px;
    }

    .buttons .done {
        width: 360px;
    }   
}

