@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,900,900i&subset=cyrillic');

@font-face {
  font-family: 'Ferry';
  src: url('/fonts/ferry.eot');
  src: url('/fonts/ferry.woff2') format('woff2'),
  url('/fonts/ferry.woff') format('woff'), 
  url('/fonts/ferry.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
