body.login main {
    width: 320px;
    margin: 0 auto;
}

body.contacts h1 {
    font-size: 28px;
    white-space: nowrap;
}

form#login-form {
    margin: 40px 0 100px 0;
}

form#login-form .field {
    margin: 0 0 15px 0;
}

form#login-form label {
    display: block;
    font: normal 16px/30px "Roboto";
    color: #000000;
}
form#login-form .field input {
    width: calc(100% - 22px);
    border: 1px solid #14858a;
    height: 42px;
    font: normal 18px/42px "Roboto";
    color: #000000;
    padding: 0 10px;
}

form#login-form .field input.error,
form#login-form.error .field input {
    background: #bee8ea;
	box-shadow: 0 0 6px #ff0000;
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}
div.-pss input {
    width: calc(100% - 22px) !important;
}

form#login-form input[type=submit] {
    background: #27b4ba;
    color: #ffffff;
    border: none;
    font: 500 18px/50px "Roboto";
    width: 260px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
}
form#login-form input[type=submit]:hover {
    background: #007b80;
}
form#login-form input[type=submit]:disabled {
    opacity: .5;
    background: #27b4ba;
    cursor: default;
}

form#login-form input[type=submit].preloader {
    opacity: 1;
    background: transparent url("/i/preloader.gif") center center no-repeat;
    background-size: cover;
}

form#login-form .forgot {
    text-align: center;
    margin-top: 30px;
}

form#login-form .forgot a {
    color: #007b80;
    text-decoration: none;
    font: 500 16px/30px "Roboto";
}
form#login-form .forgot a:hover {
    color: #27b4ba;
}

form#login-form .error-message,
.-overlay .err-msg {
    font: 500 18px/52px "Roboto";
    padding-top: 20px;
    color: #000000;
    text-align: center;
    display: none;
}
form#login-form.error .error-message { display: block; }
form#login-form.error input[type=submit] { display: none; }



.password-was-sent {
    font: 500 17.4px/30px "Roboto";
    color: #000000;
    white-space: nowrap;
    display: none;
}

#login-form.pass-sent .password-was-sent {
    display: block;
}
#login-form.pass-sent .field:first-of-type label {
    display: none;
}

@media screen and (max-width: 950px) {

}