@media screen and (max-width:900px) {
    body>header::before,
    body>header>a.logo {
        width: 180px;
        height: 40px;
        top: 20px;
    }

    body>header .order-info {
        right: 10px;
    }

    body>header .order-info strong {
        font-size: 18px;
    }

    body>header .order-info a {
        font-size: 15px;
    }

    main {
        padding-bottom: 20px;
    }

    main .steps {
        right: auto;
        left: 0;
        top: 10px;
        padding: 0;
    }
    main .steps li {
        margin-left: 10px;
    }

    main h1 {
        padding-left: 80px;
    }

    .b-tabs ul {
        text-align: center;
    }

    #s-delivery.empty {

    }

    #s-delivery.empty .no-delivery {
        font: 500 16px/24px "Roboto";
        padding: 10px 50px;
    }
    footer {
        background: #bee8ea;
        padding-top: 40px;
    }

    footer .go-to-shop a {
        font-size: 18px;
    }
    footer p.rights {
        text-align: left;
        padding-left: 50px;
        width: auto;
    }

    footer p .onlymobile { display: inline !important; }

    #s-pickup {
        padding: 0 20px;
    }
    #s-pickup h4 {
        line-height:    24px;
    }

    #s-pickup .m-map {
        margin: 30px -20px;
        width: 400px;
        height: 400px;
    }

    .get-phone .phone {
        padding-left: 110px;
    }

    div.next-step {
        padding-bottom: 30px;
    }
    div.next-step a {
        width: 330px;
    }

    .-overlay-win.add-new-address,
    .-overlay-win.add-new-organisation {
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        padding: 0 !important;
		overflow-x: hidden;
        overflow-y: scroll;
    }

    .-overlay-win.add-new-address h4,
    .-overlay-win.add-new-organisation h4 {
        background: #bee8ea;
        height: 50px;
        padding: 0 0 0 40px;
        font: 500 18px/50px "Roboto";
    }

    .-overlay-win.add-new-address .-win-close,
    .-overlay-win.add-new-organisation .-win-close {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 50px;
        background: none;
        text-decoration: none;
    }
    #s-delivery.empty .-overlay-win.add-new-address .-win-close { display: none !important; }

    .-overlay-win.add-new-address .-win-close::before,
    .-overlay-win.add-new-organisation .-win-close::before {
        content: "<";
        display: block;
        width: 100%;
        text-align: center;
        font: normal 56px/50px "Roboto";
        color: #007b80;
        transform: scale(.5, 1);
    }

    .-overlay-win.add-new-address .add-form,
    .-overlay-win.add-new-organisation .add-form {
        padding: 20px;
        margin: 0;
    }

    .-overlay-win.add-new-address .add-form label span {
        width: 60px;
    }

    .-overlay-win.add-new-address .add-form label[for=a-city] input, .-overlay-win.add-new-address .add-form label[for=a-street] input {
        width: 260px;
    }

    .-overlay-win.add-new-address .add-form label[for=a-house] span { width: 110px; }
    .-overlay-win.add-new-address .add-form label[for=a-house] input { width: 60px; }
    .-overlay-win.add-new-address .add-form label[for=a-flat] span { width: 70px; }
    .-overlay-win.add-new-address .add-form label[for=a-flat] input { width: 35px; }

    .-overlay-win.add-new-address .save-addr {
        margin: 20px;
        width: 360px;
    }

    #s-delivery .addresses-list {
        margin-left: 0;
    }

    #s-delivery.empty .addresses-list {
        display: none !important;
    }

    #s-delivery .addresses-list h4 {
        font: 500 18px/30px "Roboto";
        padding: 10px 0 10px 20px;
    }

    #s-delivery .addresses-list ul li {
        padding: 16px 20px;
        width: 360px;
        margin-left: 0;
    }

    #s-delivery .add-address {
        margin-left: 20px;
    }

    #s-delivery div.map {
        margin-left: 0;
        width: 400px;
    }

    #s-delivery.empty div.map {
        margin-top: 0;
    }


    #s-delivery:not(.empty) .delivery-set { padding-left: 20px; }

    #s-delivery:not(.empty) .when {
        padding: 20px;
        margin-top: 20px;
        margin-left: 0;
        width: 360px;
    }

    .-x-selector-list {
        margin-left: 0;
    }

    .-x-selector-list li {
        width: 360px;
        padding: 16px 20px;
        line-height: 18px;
        margin-left: 0;
        font-size: 14px;
    }

    #s-physic div.next-step, #s-firm div.next-step {
        width: 400px;
    }

    .-overlay-win.add-new-organisation p {
        color: #000000;
    }

    .-overlay-win .save-org {
        margin: 0 20px;
        width: 360px;
    }

    body.phone .get-phone {
        margin-left: 80px;
        width: 300px;
    }

    body.phone  .get-phone h4 {
        font: 500 18px/22px "Roboto";
        padding-right: 60px;
    }

    body.phone .get-phone .phone {
        padding-left: 30px;
    }

    body.phone div.next-step {
        padding-left: 20px;
        width: 360px;
        margin: 0;
    }

    section.transaction-error h1 {
        background: #bee8ea;
        margin-top: -50px;
        padding: 50px;
    }
    section.transaction-error p.transaction-error {
        padding: 0 0 80px 0;
        text-align: center;
        font-size: 16px;
    }
    section.transaction-error p.transaction-error a {
        background: none;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
        color: #007b80 !important;
    }

    body>header.partial {
        height: 200px;
    }

    .order-info-partial {
        padding-left: 200px;
        display: block;
    }

    .order-info-partial .-items {
        margin-left: -200px;
        width: 400px;
        max-width: 400px;
        position: relative;
        top: 10px;
    }

    #s-delivery.empty h4 {
        background: transparent !important;
        padding-left: 50px;
        height: 40px;
    }

    body.order .b-check {
        margin-left: 20px;
        width: 300px;
    }

    body.phone .b-check {
        margin-left: -30px;
        width: 300px;
    }
    .b-check h5 {
        width: 270px;
    }
    .b-check .check-form {
        display: block;
        padding: 0;
    }
    .b-check .check-form .actions {
        display: block;
        padding-top: 20px;
        text-align: center;
        line-height: 40px;
    }
    .get-phone .check-form input {
        margin-left: 0;
        width: 270px;
    }
    .b-check .check-done a {
        width: 300px;
    }
	.-overlay-win.add-new-address .add-form div.hint {
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
    }
    body.phone .get-phone .remarks,
    body.phone .get-phone .remarks-delivery {
        margin-left: -60px;
    }
	.-overlay-win.add-new-organisation input {
        margin: 40px 20px;
        width: calc(100% - 40px);
    }
    .-overlay-win.add-new-organisation .org-info {
        margin: 0 20px;
        font-size: 16px;
        color: #555555;
    }
    .-overlay-win.add-new-organisation .org-info p span {
        display: inline-block;
        width: 50px;
        white-space: nowrap;
    }
		.get-phone .client-name {
        margin-left: -60px;
    }

	#s-delivery .order-done>p {
        margin-left: 20px;
        font-size: 15px;
    }
    .email-enter {
        margin-left: 20px;
		margin-left: 80px;
    }

	.get-phone .username {
        padding-left: 0;
    }
    .get-phone .username input {
        width: 360px;
    }
    
    div.source-buttons {
        padding: 0 40px;
        justify-content: space-between;
    }
    
    div.source-buttons a {
        margin: 0;
    }
}