html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
box-sizing: content-box;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	color:inherit;
}
strong,b{
	font-weight:bold;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
menu,ol,ul,li{
	list-style-type:none;
}
blockquote,q{
	quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:'';
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
:focus{ 
	outline:0;
}

a:active {
	background-color: transparent;
}
input{
	box-shadow: none;
	outline: none;
}
input::-ms-clear {
	display: none;
}
* {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}