main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main {
    max-width: 620px;
    padding: 50px 20px 150px 20px;
    margin: auto;
    color: #000000;
    font-size: 16px;
    line-height: 22px;
}

main h1 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 40px;
}

p {
    padding: 20px 0 10px 0;
}

p.small {
    font-size: .75em;
    line-height: 1.2em;
}

.m-img {
    max-width: 360px;
}

@media screen and (max-width: 800px) {
    main {
        padding-bottom: 50px;
    }
    main h1 {
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    main p {
        font-size: 16px;
        line-height: 22px;
    }
    
}