@media screen and (min-width:1600px) {

.lorem-ipsum { 
    background-image: url('/images/wide-cat.jpg');
    width: 1890px;
    height: 1470px;
    margin-left: -40px;
}

body>header aside {
    width: 350px;
}
body>header section.header-contents address.warehouse.left-sided  {
    margin-left: -130px;
}


footer ul.bottom-menu {
    max-width: calc(100% - 200px);
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 30px 100px;
}
footer ul.bottom-menu li {
    padding: 0 10px;
}




}