<h1>Политика конфиденциальности в интернет-магазине «Сантехбаза.ru»</h1>
																			</div> <!-- .mart20 -->
<h3>Согласие на обработку персональных данных клиентов-физических лиц</h3>
<p>
	 Пользователь, оставляя заявку на интернет-сайте <a href="http://www.{$smarty.const.DOMAIN_NAME}/">www.{$smarty.const.DOMAIN_NAME}</a>, в том числе на поддоменах ***.{$smarty.const.DOMAIN_NAME}, настоящее Согласие на обработку персональных данных (далее – Согласие). Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие ООО "Аквасант" (ИНН 7723389141), которое расположено по адресу 109429 г.Москва, МКАД 14-й км, д.10, этаж 4, комн. 401, на обработку своих персональных данных со следующими условиями:
</p>
<p>
	 1. Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.
</p>
<p>
	 2. Согласие дается на обработку следующих моих персональных данных:
</p>
<blockquote>
	<p>
		 A. Персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; адреса электронной̆ почты; место работы и занимаемая должность; пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает, и на какие кнопки нажимает пользователь; ip-адрес.
	</p>
</blockquote>
<p>
	 3. Персональные данные не являются общедоступными.
</p>
<p>
	 4. Цель обработки персональных данных: обработка входящих запросов физических лиц с целью оказания консультирования; аналитики действий физического лица на веб-сайте и функционирования веб-сайта; проведение рекламных и новостных рассылок.
</p>
<p>
	 5. Основанием для обработки персональных данных является: ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О персональных данных»; Устав ООО "Аквасант"; настоящее согласие на обработку персональных данных.
</p>
<p>
	 6. В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передача (распространение, предоставление, доступ); блокирование; удаление; уничтожение.
</p>
<p>
	 7. Персональные данные обрабатываются до отписки физического лица от рекламных и новостных рассылок. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях, осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.
</p>
<p>
	 8. Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления ООО "Аквасант"; или его представителю по адресу, указанному в начале данного Согласия.
</p>
<p>
	 9. В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных ООО "Аквасант"; вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи11 Федерального закона №152-ФЗ «О персональных данных» от 27.07.2006 г..
</p>
<p>
	 10. Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.7 и п.8 данного Согласия.
</p>