<h1>Аквасант:<br /> установка сантехники</h1>
<p>
  Мы&nbsp;не&nbsp;только продаем, хотя и&nbsp;делаем это хорошо и&nbsp;по&nbsp;оптовым ценам, мы&nbsp;еще и&nbsp;заботимся о&nbsp;вас далее&nbsp;&mdash; наш сервисный центр производит установку купленных вами изделий: установка душевых кабин, установка ванн, унитазов, мебели для ванны&nbsp;&mdash; и&nbsp;все это с&nbsp;гарантией. Старую сантехнику и&nbsp;мебель выносим на&nbsp;помойку. Полный цикл.
</p>
<p>
  Заказать установку и&nbsp;узнать ее&nbsp;стоимость вы&nbsp;можете как по&nbsp;телефону, так и&nbsp;на&nbsp;сайте при оформлении заказа, сайт сам предложит вам добавить к&nbsp;заказу услугу квалифицированной установки уже с&nbsp;объявленной стоимостью.
</p>