<h1>Аквасант:<br /> возврат сантехники</h1>
<p>
  Никаких проблем. У&nbsp;любого покупателя есть 30&nbsp;дней на&nbsp;возврат без объяснения причин.
  <br />
</p>
Условия всего два:
<ol>
  <li>1. Товар полностью исправен и&nbsp;визуально идентифицируется как новый;</li>
  <li>2. Упаковка, пломбы и&nbsp;комплектность не&nbsp;нарушены.</li>
</ol>
<p>
  Привозите товар, паспорт, чек и&nbsp;получайте деньги.
</p>
<p>
  Если&nbsp;же какое-то из&nbsp;условий соблюсти не&nbsp;удалось, то&nbsp;решение о&nbsp;возврате товара будет приниматься в&nbsp;индивидуальном порядке.
</p>