<a href="/" class="logo">aquasant</a>
<h1>Что-то пошло не так</h1>
<p>Приносим извинения.<br>Специалисты уже разбираются.</p>
<p>Не беда! Мы готовы прийти вам на&nbsp;помощь по телефону.<br>
  Звоните <a href='tel:+78005553055'>8-800-555-30-55</a></p>