<section>
  <ul class="steps step-3"><li></li><li></li><li></li></ul>

  <h1>Источник заказа</h1>
  <div class="source-buttons">
      <span>
        <input type="text" id="cliend-id" placeholder='__-__' type='tel' maxlengt='5'>
        <em>номер клиента</em>
      </span>
      <a href="#" data-value="1" data-type="phone">Телефон</a>
      <a href="#" data-value="6" data-type="store">Магазин</a>
  </div>
  <div class="client-code" style="display:none">
  <input type="text">
  </div>
</section>

<iframe class="snake-preloader" src='/snake/'></iframe>