<section>
  <ul class="steps step-3"><li></li><li></li><li></li></ul>

  <div class="get-phone">
    <div class="b-enter">
      <div class="remarks-delivery">
        <h4>Комментарий к заказу</h4>
        <textarea name="comment" placeholder="Сопроводительная информация к заказу"></textarea>
      </div>
    </div>
  </div>
  <div class="next-step set-comment">
    <a href='/order/step-source/'>Готово</a>
  </div>
</section>